body{
background-color: rgb(253, 74, 238);
width: 100vw;
height: 100vh;
}

#pula{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
#text{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 200px;
}
#btn{
   margin-top: 1vh;
   height: 30px;
   width: 200px;
   background-color: rgb(47, 47, 255);
   border: 0;
   border-radius: 8px;
   transition: 0.2s;
   color: white;
}
#btn:hover{
    background-color: rgb(255, 0, 0);
}

#h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(244, 255, 147);
}